Package: com.faultyclones.instaplus
Name: Insta+
Depends: mobilesubstrate, com.hackulo.us.installous (>=5.0.2-2)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Installous on steriods
Maintainer: FAULTYCLONES
Author: FAULTYCLONES
Section: Tweaks
