Package: me.ipastore.instaplus
Name: Insta+
Depends: mobilesubstrate, com.hackulo.us.installous (>=5.0.2-2)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Adds IPAStore support to Installous!
Maintainer: FAULTYCLONES
Author: FAULTYCLONES
Section: Tweaks
