Package: kim.jong.cracks.bettersearch
Name: Installous BetterSearch
Depends: mobilesubstrate, com.hackulo.us.installous (>=5.0.2-2)
Version: 0.0.1-5
Architecture: iphoneos-arm
Description: Improved search for Installous 5
Maintainer: Kim Jong-Cracks
Author: ttwj
Section: Tweaks
Installed-Size: 112
